<div class="container m-3 mx-auto">
    <h2 class="text-lg font-bold text-slate-600 mx-auto max-w-fit">Reservations List</h2>
    @if (reservations.length) {
    <div class="w-2/3 mx-auto">
        @for (reservation of reservations; track reservation.id) {
            <div class="container my-2">
                <div class="container flex justify-between"> <label>Guest: </label><div>{{reservation.guestName}} </div></div>
                <div class="container flex justify-between"> <label>Email: </label><div>{{reservation.guestEmail}} </div></div>
                <div class="container flex justify-between"> <label>Room No: </label><div>{{reservation.roomNumber}} </div></div>
                <div class="container flex justify-between"> <label>Check-In Date: </label><div>{{reservation.checkInDate}} </div></div>
                <div class="container flex justify-between"> <label>Check-Out Date: </label><div>{{reservation.checkOutDate}} </div></div>
                <div class="bg-slate-800 text-white text-center"><button (click)="deleteReservation(reservation.id)">Delete</button></div>
            </div>
        }
    </div>
    } 
    @else {
        <div>No reservations available</div>
    }
</div>

<div class="bg-slate-500 text-white w-24 text-center px-2 rounded-sm hover:bg-slate-300 hover:text-black mx-auto">
    <button [routerLink]="['/']">Home</button>
</div>
