<div class="container mx-auto max-w-full mt-3 bg-slate-300 pt-2">
    <h2 class="font-bold text-2xl text-slate-600 max-w-fit mx-auto text-center my-2">Welcome to the Hotel Reservation Portal</h2>
    <div class="container justify-between mx-auto lg:flex sm:flex-none">

        <div class="bg-slate-500 text-white h-10 w-1/2 text-center content-center px-2 rounded-sm hover:bg-slate-400 hover:text-black mx-auto text-sm">
            <button [routerLink]="['/new']">Create a new reservation</button>
        </div>
    
        <div class="bg-pink-600 text-white h-10 w-1/2 text-center content-center px-2 rounded-sm hover:bg-pink-400 hover:text-black mx-auto text-sm">
            <button [routerLink]="['/list']">View reservations</button>
        </div>
    </div>
    
</div>